<style>
		html, body { margin: 0px; padding: 0px;background:transparent;!important }

			.sn-widget-gallery--info--event-name{
				position: absolute;
  			color: #FFFFFF;
			  width: 100%;
			  top: 10px;
			  height: 20px;
				margin-top: 10px;
			  font-size: 30px;
			  line-height: 32px;
			  text-align: center;
}
			.sn-widget-gallery--image{
				position: relative;
  			height:auto;
				width:100% !important;
				max-width: 500px !important;
				max-height: 500px !important;
}
			.sn-widget-gallery--info-container {
				display: none;
				position: fixed;
				top: 0px;
				left:0px;
				font-family: Helvetica;
			}
			.sn-widget-gallery--image-container{
				position: relative !important;
  			top: 0px !important;
	  		bottom: 0px !important;
	  		right: 0px !important;
	  		left: 0% !important;
				padding:0px;
			}
				.sn-widget-wrapper{
				 background:transparent !important;
				 height:auto !important;
			}
			.dummy {
				margin-top: 100%;
			}
			.smarty {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
			.data-wrapper {
				position: absolute;
				width: 100%;
				height: auto;
			}
			.photo-meta-first-name,
			.photo-meta-last-name {
				font-style: italic;
				font-family: Helvetica;
				text-transform: uppercase;
				letter-spacing: 1px;
				padding: 100px 25px;
				color: #FFFFFF;
				font-weight: 600;
				font-size: 33px;
				line-height: 35px;
			}
			.photo-question {
				font-style: italic;
				font-family: Helvetica;
				color: #FFFFFF;
				font-weight: 100;
				font-size: 16px;
				line-height: 18px;
			}
			.event-hash-tag {
				position: absolute;
				bottom: 200px;
				right: 50px;
				color: #FFFFFF;
				font-size: 36px;
				line-height: 43px;
				font-family: Helvetica;
			}
			.sidebar {
			   position: relative;
				 padding:25px;
				 align:center;
			}

</style>
